*{
    margin:0px;
    padding:0px;
}
body{

    color:black;
   background-color:rgb(136, 134, 134);
}

#main{
    width:270px;
    height:360px;
    background-image:linear-gradient(to bottom left,rgba(206, 14, 151,0.3),rgba(181, 10, 76,0.3),rgba(0, 255, 255,0.3));

    margin:130px auto 0px auto;
    border-radius:30px;
    box-shadow:3px 33px 44px 5px rgb(223, 190, 25);
    transition-property:box-shadow;
    transition-duration:2s;

    
 }
 #main:hover{
   
    box-shadow:3px 33px 44px 5px rgb(44, 224, 4);
 }
 #logo{
    display: block;
    margin:2px auto 0 auto;
    border:2px solid aqua;
    border-radius:40px;
    background-color: rgb(0, 0, 0);
 }

 .username{
  height:33px;
  width:240px;
  color:aqua;
  padding-left:5px;
  font-size:19px;
  display:block;
  margin:8px auto 0px auto;
  background-color:rgba(34, 11, 11, 0.5);
  border-radius:20px;

 }
 .username::placeholder{
    color:rgb(28, 245, 202);
    font-size:16px;
 }
#btn{
    height:33px;
  width:200px;
  color:aqua;
  
  font-size:18px;
  display:block;
  margin:8px auto 0px auto;
  background-color:rgb(0, 0, 0);
  border-radius:20px;
  cursor:pointer;
}
#btn:hover{
    background-color: rgb(50, 210, 146);
    color:black;
}
#fpass{
    text-decoration:none;
    display:block;
    margin-top:4px;
    padding-left:4px;
    color:rgb(154, 234, 248);
}
#sign{
    display:block;
    margin-top:17px;
    margin-left:4px;
}