@keyframes logos {
    from{
        transition-property:transform;
        transition-duration:2s;
        transform:perspective(555px)rotateY(360deg);
        
    }
    
}
/* media query */
@media only screen and (width < 666px) {
   
   #featurs li{list-style-type: none;
    display: inline;
   
    margin:30px;
    padding:6px;
    font-size: 22px;
   }
}

*{
    margin:0px;
    padding:0px;
}
body{

    color:black;
   background-color:rgb(136, 134, 134);
}

#main{
    width:270px;
    height:360px;
    background-image:linear-gradient(to bottom left,rgba(206, 14, 151,0.3),rgba(181, 10, 76,0.3),rgba(0, 255, 255,0.3));

    margin:100px auto 0px auto;
    border-radius:30px;
    box-shadow:3px 33px 44px 5px rgb(223, 190, 25);
    
    

    
 }
 #main:hover{
    
    box-shadow:3px 33px 44px 5px rgb(44, 224, 4);
 }
 #logo{
    display: block;
    margin:2px auto 0 auto;
    border:2px solid aqua;
    border-radius:40px;
    background-color: rgb(0, 0, 0);
    animation-name:logos;
    animation-duration:3s;
    animation-iteration-count:infinite;
    animation-play-state: paused;
 }
#logo:hover{
  box-shadow:3px 3px 33px 15px rgb(189, 47, 255);
   animation-play-state:running;
}
 .username{
  height:33px;
  width:240px;
  color:aqua;
  padding-left:5px;
  font-size:19px;
  display:block;
  margin:8px auto 0px auto;
  background-color:rgba(34, 11, 11, 0.5);
  border-radius:20px;

 }
 .username::placeholder{
    color:rgb(28, 245, 202);
    font-size:16px;
 }
#btn{
    height:33px;
  width:200px;
  color:aqua;
  
  font-size:18px;
  display:block;
  margin:8px auto 0px auto;
  background-color:rgb(0, 0, 0);
  border-radius:20px;
  cursor:pointer;
}
#btn:hover{
    background-color: rgb(148, 22, 186);
    color:black;
    box-shadow:3px 3px 33px 22px rgb(146, 241, 4);
   
}
#fpass{
    text-decoration:none;
    display:block;
    margin-top:4px;
    padding-left:4px;
    color:rgb(154, 234, 248);
}
#sign{
    display:block;
    margin-top:17px;
    margin-left:4px;
}

/* navication bar */
#nav{
   width:100%;
   height:60px;
   background-color: black;
   margin-top:5px;
   color:aliceblue

}
#featurs li{
    list-style-type: none;
    display: inline;
   
    margin:30px;
    padding:6px;
    font-size: 22px;
}
#featurs{
    margin-top:-14px;
    float:right;
   
}

#featurs a{
    text-decoration:none;
    color:aliceblue;

}
#featurs li:hover{
    background-color: rgb(19, 230, 230);
    color:rgba(0, 0, 0);
    border-radius:22px;
    box-shadow:3px 3px 33px 14px rgb(33, 242, 57);
}
